@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:200");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
}